.my-masonry-grid {
    display: flex;
    margin-left: -20px; /* gutter size offset */
    width: 100%;
  }
  .my-masonry-grid_column {
    border-left: 20px solid transparent;
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 20px;
    background-color: #F9F9F9;
    border-radius: 5px;
  }

  .my-masonry-grid_column > a { /* change div to reference your elements you put in <Masonry> */
    display: block;
    padding: 20px;
    text-decoration: none;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
  }

  .my-masonry-grid_column > a:hover{
    color: #4592AF;
    text-decoration: underline;    
    transform: rotateY(180deg);
  }

  .character{
    width: 100%;
  }

  .char_list{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .char_name{
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    color: #4592AF;
    border-bottom: 1px solid #4592AF;
  }

 .char_card_front, .char_card_back{
    backface-visibility: hidden;
 }

 .char_card_front{
    text-align: center;;
 }

  .char_card_front img{
    border-radius: 5px;
  }

  .char_card_back{
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 0.5px solid gray;
    transform: rotateY(180deg);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
