body{
    background-color: #F6F5F5;
}

.container{
    margin: 0 auto;
    max-width: 1400px;
    background-color: #F6F5F5;
}

.nav{
    padding: 10px;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.nav .logo{
    width: 50px;
}

.nav > ul {
    display: flex;
    list-style-type: none;
}

.nav > ul > li{
    margin-left: 10px;
}

.nav > ul > li > a {
    text-decoration: none;
    color: black;
}

.detail_char_container{
    display: flex;
    margin: 15px 0;
    justify-content: space-evenly;
}
